<ul id="ulMenu">
	<li>
		<div class="TituloODC">
		Menu Principal ODC
		</div>
	</li>
	<li>
		<div class="borde-menu color1"></div>
		<a href="javascript:menu('1');">
			<div class="opcion">Principal</div>
			<div class="descripcion">Donde podemos controlar nuestros disposiivos</div>
		</a>
	</li>
	<li>
		<div class="borde-menu color2"></div>
		<a href="javascript:menu('2');">
			<div class="opcion">Opciones</div>
			<div class="descripcion">Configurar nuestros ODC</div>
		</a>
	</li>
	<li>
		<div class="borde-menu color3"></div>
		<a href="javascript:menu('3');">
			<div class="opcion">Opcion 3</div>
			<div class="descripcion">Descripcion opcion</div>
		</a>
	</li>
	<li>
		<div class="borde-menu color4"></div>
		<a href="javascript:menu('4');">
			<div class="opcion">Opcion 4</div>
			<div class="descripcion">Descripcion opcion</div>
		</a>
	</li>
	<li>
		<div class="borde-menu color5"></div>
		<a href="javascript:menu('5');">
			<div class="opcion">Opcion 5</div>
			<div class="descripcion">Descripcion opcion</div>
		</a>
	</li>
	<li>
		<div class="borde-menu color6"></div>
		<a href="javascript:menu('6');">
			<div class="opcion">Opcion 6</div>
			<div class="descripcion">Descripcion opcion</div>
		</a>
	</li>
	<li>
		<div class="borde-menu color1"></div>
		<a href="javascript:menu('7');">
			<div class="opcion">Opcion 7</div>
			<div class="descripcion">Descripcion opcion</div>
		</a>
	</li>
	<li>
		<div class="borde-menu color2"></div>
		<a href="javascript:menu('8');">
			<div class="opcion">Opcion 8</div>
			<div class="descripcion">Descripcion opcion</div>
		</a>
	</li>
	<li>
		<div class="borde-menu color3"></div>
		<a href="javascript:menu('9');">
			<div class="opcion">Opcion 9</div>
			<div class="descripcion">Descripcion opcion</div>
		</a>
	</li>
	<li>
		<div class="borde-menu color4"></div>
		<a href="javascript:menu('10');">
			<div class="opcion">Opcion 10</div>
			<div class="descripcion">Descripcion opcion</div>
		</a>
	</li>
</ul>